services:
  stats-server:
    build: core/stats-service/stats-server
    container_name: ewm-stats-server-compose
    depends_on:
      stats-db:
        condition: service_healthy
    ports:
      - "9090:9090"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://stats-db:5432/ewm_stats_db
      - SPRING_DATASOURCE_USERNAME=stats_user
      - SPRING_DATASOURCE_PASSWORD=stats_password
      - JAVA_OPTS=-Duser.timezone=UTC

  stats-db:
    image: postgres:16.1
    container_name: ewm-stats-db-compose
    ports:
      - "6543:5432"
    environment:
      POSTGRES_USER: stats_user
      POSTGRES_PASSWORD: stats_password
      POSTGRES_DB: ewm_stats_db
    volumes:
      - stats_db_data:/var/lib/postgresql/data
      - ./core/stats-service/stats-server/src/main/resources/schema.sql:/docker-entrypoint-initdb.d/01-schema.sql
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB} -p 5432" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  ewm-service:
    build: core/main-service
    container_name: ewm-main-service-compose
    depends_on:
      ewm-db:
        condition: service_healthy
      stats-server:
        condition: service_started
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://ewm-db:5432/ewm_main_db
      - SPRING_DATASOURCE_USERNAME=ewm_user
      - SPRING_DATASOURCE_PASSWORD=ewm_password
      - JAVA_OPTS=-Duser.timezone=UTC

  ewm-db:
    image: postgres:16.1
    container_name: ewm-main-db-compose
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ewm_user
      POSTGRES_PASSWORD: ewm_password
      POSTGRES_DB: ewm_main_db
    volumes:
      - main_db_data:/var/lib/postgresql/data
      - ./core/main-service/src/main/resources/schema.sql:/docker-entrypoint-initdb.d/01-schema.sql
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB} -p 5432" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s


volumes:
  stats_db_data: {}
  main_db_data: {}